main{
    padding-top: 4rem;
    min-height: 80vh;
    display: flex;
}

.form{
    background-color: white;
    margin: 6rem auto;
    width: 25%;
    padding: 2rem 3rem;
    border-radius: 10px;
    box-shadow: 0 0px 10px -5px rgba(0, 0, 0, 0.378);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.login{
    height: 50%;
}


.register{
    margin: 2rem auto;
    width: 32%;
}

.form-title{
    font-size: 2.5rem;
    margin-bottom: .5rem;
    display: flex;
}

.form-container{
    margin-top: 2rem;
    display: grid;
    gap: 2.5rem;
    width: 90%;
}

.form-group{
    position: relative;
    color: #0563B1;
    z-index: 1;
}

.form-input{
    width: 100%;
    background: none;
    color: #0563B1;
    font-size: 1rem;
    padding: 0.6rem 0.3rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #0563B1;
    font-family: "Montserrat", sans-serif;
}
.form-input:not(:placeholder-shown){
    color: #0563B1;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label{
    transform: translateY(-12px) scale(0.7);
    transform-origin: left top;
    color: #0563B1;
}

.form-label{
    color: #0563B1;
    cursor: text;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform 0.5s, color 0.3s;
}

.form-submit{
    background-color: #0563B1;
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
    padding: 0.8rem;
    border: 1px solid #0563B1;
    cursor: pointer;
    border-radius: 0.2rem;
    margin: 2.5rem 0 0 0;
    width: 60%;
    text-align: center;
    transition: all 0.2s;
}

.form-link{
    margin-top: 1rem;
    color: #0563B1;
    text-decoration: underline;
}

.form-submit:hover{
    background-color: #fff;
    color: #0563B1;
}

.form-line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #0563B1;
    transform: scale(0);
    transform: left bottom;
    transition: transform 0.4s;
}

.form-input:focus ~ .form-line,
.form-input:not(:placeholder-shown) ~ .form-line{
    transform: scale(1);
}

/*editar perfil*/

.edit-profile{
    width: 35%;
    padding: 2rem;
    margin: 4rem auto;
}

/*checkbox de registro*/

.notificaciones input[type="checkbox"]{
    margin-top: 1rem;
}

@media screen and (max-width: 1200px){
    main .form{
        width: 45%;
    }
}

@media screen and (max-width: 979px){
    main .edit-profile{
        width: 60%;
    }
}

@media screen and (max-width: 768px){
    main .form{
        width: 90%;
    }
}

@media screen and (max-width: 480px){
    main .form{
        width: 90%;
        padding: 1rem 1rem;
    }

    .edit-profile .form-input, .edit-profile .file, .edit-profile #sel-img{
        width: 100%;
    }

    .form .file {
        left: 0%;
    }

    .form-title{
        font-size: 2rem;
    }
}