.form{
    background-color: white;
    margin: 6rem auto;
    width: 35%;
    padding: 2rem 3rem;
    border-radius: 10px;
    box-shadow: 0 0px 10px -5px rgba(0, 0, 0, 0.378);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.form-container{
    margin-top: 2rem;
    display: grid;
    gap: 2.5rem;
    width: 90%;
}

.form-group{
    position: relative;
    color: #0563B1;
    z-index: 1;
}

.form-input{
    width: 100%;
    background: none;
    color: #0563B1;
    font-size: 1rem;
    padding: 0.6rem 0.3rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #0563B1;
    font-family: "Montserrat", sans-serif;
}
.form-input:not(:placeholder-shown){
    color: #0563B1;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label{
    transform: translateY(-12px) scale(0.7);
    transform-origin: left top;
    color: #0563B1;
}

.form-label{
    color: #0563B1;
    cursor: text;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform 0.5s, color 0.3s;
}

.form-submit{
    background-color: #0563B1;
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
    padding: 0.8rem;
    border: 1px solid #0563B1;
    cursor: pointer;
    border-radius: 0.2rem;
    margin: 2.5rem 0 0 0;
    width: 60%;
    text-align: center;
    transition: all 0.2s;
}

.form-link{
    margin-top: 1rem;
    color: #0563B1;
    text-decoration: underline;
}

.fecha #fecha, .hora #hora{
    width: 80%;
    margin-left: 30%;
}

.reservar .form-container{
    margin: 0;
    gap: 1rem;
}



.table .row-rv{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
    padding: 2%;
    border: 1px solid #0563B1;
    text-align: center;
    justify-content: center;
}

main .abm-container{
    display: flex;
    width: 100%;
    height: 55%;
    justify-content: space-around;
}

.btn-trash, .btn-edit{
    padding: 0.4rem;
    border-radius: 100%;
    cursor: pointer;
}

.abm-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 1200px){
    main .reservar{
        width: 50%;
    }
    
    main .abm-container{
        height: 65%;
    }
}


@media screen and (max-width: 768px){
    main .table{
        width: 95%;
    }

    .table .row-rv h3{
        font-size: 1rem;
    }

    main .reservar{
        width: 60%;
    }

    main .abm-container{
        flex-direction: column;
        width: 50%;
        gap: 5%;
        margin-left: 40%;
    }

    .form-title{
        font-size: 1.8rem;
    }

    .form-group input{
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px){
    .table .row-rv h3, .table .row-rv h4{
        font-size: 0.7rem;
    }

    main .reservar{
        width: 80%;
    }

    main .table{
        width: 100%;
    }

    .btn-trash, .btn-edit{
        padding: 0;
        width: 100%;
    }
}